{%extends 'main/base.html'%}

{% block title%} Create New List {%endblock%}

{% block content%} 
<style type="text/css">
	.create{
		padding-bottom:25px;
	}

</style>
<h3 class=create>Create Content</h3>

<form method = "post" action = "/create/" class = "form-group>
{% csrf_token  %}


  <div class="input-group mb-3">
  <div class = "input-group-prepend">
  <button type = "submit", name ="save"class="btn btn-success"> Create A New List </button>
  </div>
  {{form.name}}
  </div>
 </form>
 {% endblock %}