{%extends "main/base.html" %}
{%block title%} view list {% endblock%}
{%block content%}
 <div>
 <h1> {{ls.name}} </h1>
 <img src={{ls.image.url}}>
 
 

	
			
		<form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Upload</button> 
    </form> 

 </div>


 

	
	
	
	<div class="input-group mb-3">
	<div class ="input-group-prepend">
	
	<button type="submit" name="newItem" value="newItem" class ="btn btn-success"> Add Item</button>

	</div>
	<input type="text", name="new">
	</div>
	<button type="submit" name="save" value="save" class="btn btn-success"> Save</button>
	</form>
{%endblock%}