{%extends "main/base.html" %}
{%block title%} view list {% endblock%}
{%block content%}
 <div>
 <h1> {{ls.name}} </h1>
 <form method="post" action="#">
    {% csrf_token  %}
					

	<h1>{{ls.id}}</h1>


    <ul>
    	{%for item in ls.item_set.all%}
    	
    	<h1> {{item.name}} Status {{item.complete}}</h1>
    	{% endfor %}
     {%if ls.image%}
     <image src="{{ls.image.url}}" width =400px height= 400px>
     	{%endif%}
     	
	{% for item in ls.item_set.all %}
	 <div class = "input-group mb-3">
	        <div class = "input-group-prepend">
    	    <div class="input-group-text">
	  
	  {%if item.complete == True %}
	      <input type="checkbox" value="clicked" name="c{{item.id}}" checked >
	   {% else %}
	    <input type="checkbox" value="clicked" name="c{{item.id}}" >
	   {% endif %}
	   <input type = "text", value="{{item.text}}" class="form-control">
	   {%endfor%}

	</div>
</div>

 
 

	
			
		

 </div>


 

	
	
	
	<div class="input-group mb-3">
	<div class ="input-group-prepend">
	
	<button type="submit" name="newItem" value="newItem" class ="btn btn-success"> Add Item</button>

	</div>
	<input type="text", name="new">
	</div>
	<button type="submit" name="save" value="save" class="btn btn-success"> Save</button>
	</form>
	<h1>{{largest.id}} {{largest.name}}</h1>
	<a href="../change/{{ls.id}}"> Change </a>
	{% for list in allls %}
	  {% if list.id == ls.id%}
       {%if list.id < latest.id%}
	  
	  <a href="/{{ls.id | add:"1"}}">Next </a>
	  {%endif%}
	  {%endif%}
	  
    {%endfor%}
    {% for list in allls %}
	  {% if list.id == ls.id%}
       {%if list.id > 1 %}
	  
	  <a href="/{{ls.id | add:"-1"}}"> Previous </a>
	  {%endif%}
	  {%endif%}
	  
    {%endfor%}
	
	
	{%endblock%}
